button{
    width: 247px;
    height: 34px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

h2{
    font-size: 25px;
    text-align: center;
    color: white;
}

.detail_container{
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    justify-content: center;
    
}
.job_role, .website{
    text-align: center;
}

.job_role{
    font-size: 13px;
    color: #F3BF99;
    margin-top: 6px;
}
.website{
    font-size: 11px;
    color: white;
    margin-top: 4px;
}

h3{
    align-self: flex-start;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

.description{
    font-size: 12px;
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.486);
    font-weight: lighter;
    line-height: 1.5;
}

.about{
    margin-top: 40px;
}
